header{
    width:100% ;
    height:1036px;
    background-color:#bcd1aa;
    margin:0 auto;
    background-image:url(../img/main2.jpg); width:100%;
    background-repeat:no-repeat;
    background-position:bottom;

}
footer{
    width: 100%;
    height: 496px;
    background-color:#bcd1aa;
    margin:0 auto;
    margin-top :-35px;
}